.container{
    background-color: black;
    width: 100vw;
    height: auto;
}
.portfolioContainer h2{
 color: white;
 text-align: center;
 margin-bottom: 20px;
}
.portfolioContainer h2 span{
    color: orange;
}
.portfolionavbar ul{
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
.portfolioContent {
    display: flex;
    flex-direction: column;

}
.portfolioContent div{
    display: flex;
}
.portfolioContent  div .description{
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.portfolioContent  div .description p{
    color: #AEE6E6;
    border: 1px solid #7E8A97;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #1B2430;
    animation: slide-right 1.5s ease;
}
.portfolioContent  div .image{
    flex: 1;
    border: 1px solid #7E8A97;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    animation: slide-Left 1.5s ease;
}
.portfolioContent div .image img{
    
}
.portfolioContent  div .image .title{
    color: white;
}
.portfolioContent  div .image .title h4{
    font-size: 24px;
    color: #AEE6E6;
}
@keyframes slide-right{
    0%{
        transform:translateX(-250px)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes slide-up{
    0%{
        transform:translateY(250px)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes slide-Left{
    100%{
        transform:translateX(0)
    }
    0%{
        transform:translateX(100%)
    }
}
/* .portfolioContainer{
    
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    animation: slide-up 1.5s ease;
}
.portfolio-container h2{
    text-align: center;
    margin-top: 10px;
}
.portfolio-container h2 span{
    color: orange;
}
.portfolio-container .portfolio-navbar ul{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.portfolio-container .portfolio-navbar ul li{
    margin-right: 5px;
}
.portfolio-container .portfolio-navbar ul  #all{
    color: orange;
}
.portfolio-container .portfolio-content{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

}
.portfolio-container .portfolio-content div {
    margin: 5px;
}
.portfolio-container .portfolio-content div .image {
    height: 200px;
    width:200px;
    margin-top: 20px;
    
}
.portfolio-container .portfolio-content div .image img{
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.portfolio-container .portfolio-content div .title h4{
    font-size: 16px;
    margin-top: 0;

} */
