@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');
.container{
    background-color: black;
    width: 100vw;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
}
.portfolioContainer h2{
 color: white;
 text-align: center;
 margin-bottom: 20px;
}
.portfolioContainer h2 span{
    color: orange;
}
.portfolionavbar ul{
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
.portfolioContent {
    display: flex;
    flex-direction: column;
}
.portfolioContent div{
    display: flex;
}
.portfolioContent  div .description{
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolioContent  div .description p{
    color: #AEE6E6;
    border: 1px solid #7E8A97;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #1B2430;
    animation: slide-right 1.5s ease;
}
.portfolioContent  div .image{
    flex: 1;
    border: 1px solid #7E8A97;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    animation: slide-Left 1.5s ease;
}
.portfolioContent  div .image .title{
    color: white;
}
.portfolioContent  div .image .title h4{
    font-size: 24px;
    color: #AEE6E6;
}
@keyframes slide-right{
    0%{
        transform:translateX(-250px)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes slide-up{
    0%{
        transform:translateY(250px)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes slide-Left{
    100%{
        transform:translateX(0)
    }
    0%{
        transform:translateX(100%)
    }
}
